:root {
    --text: #0f1224;
    --background: #f4f5fb;
    --translucent-bg: #f4f5fb28;
    --primary: #6c7ee5;
    --secondary: #222d72;
    --accent: #102dd1;
    --border: #333333;
}

/* @media (prefers-color-scheme: dark) { */
    :root {
        --text: #dcdff0;
        --background: #04050a;
        --translucent-bg: #00000028;
        --primary: #8e99dd;
        --secondary: #1a2c93;
        --accent: #304df0;
        --border: #272727;
    }
/* } */

html {
    scroll-behavior: smooth;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    color: var(--text);
    background-color: var(--background);

    padding-top: 3rem;
}

a {
    color: var(--primary);
}

a:visited {
    color: var(--primary);
}

/*
 * Section Styling
 */
section {
    margin: 1rem auto;
    max-width: 70%;
    padding: 2.5rem;
}

p {
    line-height: 1.5;
}

#about {
    border: 1px solid var(--border);
    border-radius: 0.75rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;

}

.about-grid > img {
    height: 25vw;
    width: 25vw;
    border-radius: 0.75rem;
    object-fit: cover;
    justify-self: right;
}

#education {

    
    border: 1px solid var(--border);
    border-radius: 0.75rem;
}

.education-umich {
    width: 100%;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "canvas canvas education education"
                         "canvas canvas course1 course2"
                         "course3 course4 course5 course6"
                         "course7 course8 course9 course10";
    
    
}

@media (max-width: 60rem) {
    .education-umich {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "canvas"
            "education"
            "course1"
            "course2"
            "course3"
            "course4"
            "course5"
            "course6"
            "course7"
            "course8"
            "course9"
            "course10";
    }
}

.education-history {
    padding: 1.5rem;
    grid-area: education;
    border: 1px solid var(--border);
    border-radius: 0.75rem;
}

.course-box {
    border: 1px solid var(--border);
    border-radius: 0.75rem;
    padding: 1.5rem;
}

.course-box > h3 {
    margin: 0;
}

.course-title {
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.course-title > h3 {
    margin: 0;
    margin-bottom: 0.4rem;
}

.course-title > a {
    margin: 0;
    color: var(--text);
    text-decoration: none;
}

.course-box > p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.m-container {
    grid-area: canvas;
    grid-column: span 2;

    /* width: 34vw; */
    /* height: 34vw; */
    position: relative;
    overflow: hidden;
    
    border: 1px solid var(--border);
    border-radius: 0.75rem;
}

@media (max-width: 60rem) {
    .m-container {
        grid-column: span 1; /* Take up the whole column when the page narrows */
    }
}

.m-container::before {
    content: "";
    display: block;
    padding-bottom: 100%; /* Equal to width for a 1:1 aspect ratio */
}

.m-container > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#block-m {
    height: 100%;
    width: 100%;
}

#experience {
    border: 1px solid var(--border);
    border-radius: 0.75rem;
}

#projects {
    border: 1px solid var(--border);
    border-radius: 0.75rem;
}

.project-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

}

.project-box {
    border: 1px solid var(--border);
    border-radius: 0.75rem;
    padding: 1.5rem;
}

.project-title {
    margin: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
    
.project-title > h3 {
    margin: 0;
}

.img-container {
    margin: 0 auto;
    margin-top: 1rem;

    height: 15rem;
    border-radius: 0.75rem;
}

.img-container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.75rem;

}

#contact {
    border: 1px solid var(--border);
    border-radius: 0.75rem;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    overflow: clip;
}

.contact-left {
    width: calc(50% - 30px);
}

.contact-right {
    width: calc(50% - 30px);
}

@media (max-width: 768px) {
    .contact-form {
        flex-direction: column;
    }

    .contact-left, .contact-right {
        width: 100%;
    }
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-row {
    display: flex;
    gap: 1.5rem;
    
    margin: 1rem;
}

.contact-row > i {
    font-size: 2rem;
}

.head {
    margin-bottom: 0.25rem;
}

form {
    display: flex;
    flex-direction: column;
}

.fields {
    display: flex;
    justify-content: space-between;
}

.field {
    width: 100%;
    height: 100%;
}

.field input,
.textarea textarea {
    height: 100%;
    width: 100%;
    
    background: none;
    border: 1px solid var(--border);
    border-radius: 1rem;
    outline: none;

    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    
    font-size: 1rem;
    color: var(--text);

    box-sizing: border-box;
}

.textarea textarea {
    height: 12rem;
    resize: none;
}

.name {
    max-width: calc(50% - 0.5rem);
    margin-right: 0.5rem;
}

.email {
    max-width: calc(50% - 0.5rem);
    margin-left: 0.5rem;
}

.button {
    height: 3rem;
    width: 50%;
}

.button > button {
    height: 100%;
    width: 100%;

    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    background: var(--primary);
    color: #fff;

    font-size: 1.5rem;

    transition: all 0.3s ease;
}

.button > button:hover {
    background: none;
    color: var(--primary);
}

/*
 * Hero Styling
 */ 

.hero {
    height: 100vh;
}

.hero-text {
    margin-top: 30vh;
    
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1;

    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.hero-text > p {
    font-size: 1.5rem;
    color: var(--text);
    margin: 0;
}
.hero-text > h1 {
    margin: 1rem;
    
    font-size: 5rem;
    
    color: var(--primary);
    /* text-shadow: 0px 0px 4px #000000; */
}

@media (max-width: 600px) {
    .hero-text > h1 {
        margin: 0;
        font-size: 3rem;
    }

    .hero-text > p {
        margin: 0;
        font-size: 1rem;
    }
}

.scroll-indicator {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: var(--primary);
}

.scroll-offset {
    display: block;
    height: 3rem; /* Adjust this value based on the height of your navbar */
    margin-top: -3rem; /* This should be the negative of the height */
    visibility: hidden;
}

#hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* This ensures the canvas stays behind the text */
    border-bottom: 1px solid var(--border);
}

/*
 * Navbar Styling
 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(5px);

    background-color: var(--translucent-bg);

    border-bottom: 1px solid var(--border);
}

nav {
    margin: 0 auto;
    max-width: 70%;

    min-height: 2.5rem;
    
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav > div {
    margin-right: 2rem;
    display: flex;
    gap: 2rem;
}

nav > div > a {
    text-decoration: none;
}

.logo {
    font-family: 'Fira Mono', monospace;
    font-weight: 700;
    font-style: normal;

    font-size: 1.5rem;
    color: var(--primary);
}

/*
 * Hamburger Menu Styling
 */

#hamburger-button {
    display: none;
    cursor: pointer;
    color: var(--primary);
}

#hamburger-links {
    display: none;
}

@media (max-width: 800px) {
    nav {
        max-width: 100%;
    }

    nav > div {
        margin: 0 1rem;
    }
    
    #nav-links {
        display: none;
    }

    #hamburger-button {
        display: block;
    }

    #hamburger-links.active {
        position: fixed;
        top: 0rem;
        left: 0;
        
        margin: 0;
        margin-top: 3rem;
        padding: 1rem;
        
        width: 100%;
        height: 30vh;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        color: var(--text);
        z-index: -1 ;
        
        background-color: var(--background);

        border-bottom: 1px solid var(--border);
        border-radius: 0 0 0.75rem 0.75rem;
    }
}


/*
 * Footer Styling
 */
footer {
    border-top: 1px solid var(--border);
    box-sizing: border-box;
    margin: 0 -8px;
}

footer > div {
    text-align: center;
    padding: 20px;
}

footer > div > a {
    color: var(--primary);
    text-decoration: none;
}